<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>3IABD</title>

  <!-- CSS  -->
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">3IABD Group 6</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Train Model</h5>
          </div>
          <div class="row">
            <form action="{{ url_for('handle_data') }}" method="post">
              Model:<br>
              <input type="text" name="model" list="models" required>
              <datalist id="models">
                <option value="Linear Model">
                <option value="Multilayer perceptron">
                <option value="RBF">
              </datalist>
              Alpha:<br>
              <input type="number" step="0.001" min="0" name="Alpha" value="0.01" required>
              <br>
              Epochs:<br>
              <input type="number" min="0" name="Epochs" value="1000" required>
              <br>
              Data set size:<br>
              <input type="number" min="0" name="Data set size" value="1000" required>
              <br>
              Image size:<br>
              <input type="number" min="0" name="Image size" value="50" required>
              <br>
              Multilayer perceptron Structure (comma separated):<br>
              <input type="text"  name="mlp_struct" value="5,5" required>
              <br>
              Model Name:<br>
              <input type="text" name="Model Name" required>
              <br>
              <input type="submit" value="Launch model training" required>
            </form>
          </div>
        </div>

        <div class="col s12 m4">
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Predict Model</h5>
          </div>
          <div class="row">
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
              <input type="file" name="file" accept="image/*" required>
              <br>
              <br>
              Model:<br>
              <input type="text" name="model" list="models" required>
              <datalist id="models">
                <option value="Linear Model">
                <option value="Multilayer perceptron">
                <option value="RBF">
              </datalist>
              File for Linear FPS:<br>
              <input type="text" name="file1" list="files1">
              <datalist id="files1">
                {% for model in linear %}
                <option value={{ model }}></option>
                {% endfor %}
              </datalist>
              File for Linear MOBA:<br>
              <input type="text" name="file2" list="files2">
              <datalist id="files2">
                {% for model in linear %}
                <option value={{ model }}></option>
                {% endfor %}
              </datalist>
              File for Linear RTS:<br>
              <input type="text" name="file3" list="files3">
              <datalist id="files3">
                {% for model in linear %}
                <option value={{ model }}></option>
                {% endfor %}
              </datalist>
              File for Multilayer perceptron:<br>
              <input type="text" name="file4" list="files4">
              <datalist id="files4">
                {% for model in mlp %}
                <option value={{ model }}></option>
                {% endfor %}
              </datalist>
              File for RBF:<br>
              <input type="text" name="file5" list="files5">
              <datalist id="files5">
                {% for model in rbf %}
                <option value={{ model }}></option>
                {% endfor %}
              </datalist>
              <input type="submit" value="Launch image prediction">
              <p style="margin-bottom:5cm;"></p>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center">
          <div class="card blue lighten-1">
            <div class="card-content white-text">
              <span class="card-title "><b><u>Prediction history</u></b></span>
              <table class="centered">
                <thread>
                  <!-- <tr>
                                  <th class="center">Model</th>
                                  <th class="center">Epochs</th>
                                  <th class="center">Alpha</th>
                                  <th class="center">Size</th>
                                  <th class="center">Data_set_size</th>
                                  <th class="center">Accuracy_Set</th>
                                  <th class="center">Accurracy_validation</th>
                              </tr> -->
                </thread>
                <tbody id="tbodyResults">
                  {% for data in oldpredict %}
                  <tr>

                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>

                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--  Scripts-->
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"> </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>

</html>